---
layout: default
---

<div class="mx-auto max-w-7xl px-6 lg:px-8 pt-11 pb-24 lg:pt-14 relative ">
  <div class="flex flex-col lg:flex-row lg:gap-20 xl:gap-32">
    <div x-data="{ tab: 'upcoming' }" class="lg:w-2/3 xl:w-[60%]">
      <a href="{{ '/events/' | relative_url }}" class="text-brand inline-block">&larr; Back to events</a>
      <h1 class="text-5xl lg:text-6xl text-blue font-bold leading-[1.15] mt-7">{{ page.title }}</h1>
      <div class="inline-flex rounded-full border border-brand text-brand overflow-hidden text-lg font-bold mt-6">
        <button @click="tab = 'past'" :class="{ 'bg-brand text-white': tab === 'past' }" class="px-11 py-3.5">Past</button>
        <button @click="tab = 'upcoming'" :class="{ 'bg-brand text-white': tab === 'upcoming' }" class="px-7 py-3.5">Upcoming</button>
      </div>
      {% assign posts = site.events | sort: 'event_date' | reverse %}
      {% assign now = 'now' | date: '%s' %}

      <div x-show="tab === 'past'" class="divide-y divide-gray-3">
        {% for post in posts %}
          {% assign event_date = post.event_date | date: '%s' %}
          {% if event_date < now %}
            {% include card-event.html %}
          {% endif %}
        {% endfor %}
      </div>

      <div x-show="tab === 'upcoming'" class="divide-y divide-gray-3">
        {% for post in posts %}
          {% assign event_date = post.event_date | date: '%s' %}
          {% if event_date >= now %}
            {% include card-event.html %}
          {% endif %}
        {% endfor %}
      </div>
    </div>
    <div class="flex-1 mt-20 lg:mt-14">
      <h3 class="text-blue uppercase font-bold text-3xl mb-16">Recommended Events</h3>
      <div class="space-y-7">
        {% for post in posts limit: 3 %}
          {% assign event_date = post.event_date | date: '%s' %}
          {% if event_date >= now %}
            <div class="flex space-x-5 items-center relative">
              <svg class="w-[6.25rem] h-auto flex-none" width="101" height="100" viewBox="0 0 101 100" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect x="0.875" width="100" height="100" rx="4.54545" fill="#148FFF"/>
                <path d="M51.7344 36.4965L65.2378 50L51.7344 63.5034" stroke="white" stroke-width="3.19198" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M65.2384 50L36.5107 50" stroke="white" stroke-width="3.19198" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>                  
              <div>
                <h4 class="font-bold text-lg text-brand leading-tight">{{ post.title }}</h4>
                <p class="text-gray-2 leading-snug line-clamp-3">{{ post.description }}</p>
              </div>
              <a href="{{ post.url | relative_url }}" class="absolute inset-0" title="{{ post.title }}"></a>
            </div>    
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
</div>