---
layout: default
---
<div class="overflow-hidden">
  <div class="mx-auto max-w-7xl px-6 lg:px-8 pt-11 pb-24 lg:pt-14 lg:pb-32 relative">
    <div class="flex flex-col lg:flex-row gap-20 xl:gap-32 relative">
      <div class="lg:w-2/3 xl:w-[60%] relative">
        <a href="{{ '/' | relative_url }}" class="text-brand inline-block">&larr; Back to home</a>
        <h1 class="text-5xl lg:text-6xl text-blue font-bold leading-[1.15] mt-7">{{ page.title }}</h1>
        <div class="space-y-7 mt-8">
          {% for post in site.mentions %}
              {% include card-mentions.html %}
          {% endfor %}
        </div>
      </div>
      <div class="flex-1 lg:mt-14 relative">
        <h3 class="text-blue uppercase font-bold text-3xl mb-16">Recommended</h3>
        <div class="space-y-7">
          {% assign posts = site.mentions | sort: 'date' | reverse %}
          {% for post in posts limit: 3 %}
            <div class="flex space-x-5 items-center relative">
              <svg class="w-[6.25rem] h-auto flex-none" width="101" height="100" viewBox="0 0 101 100" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect x="0.875" width="100" height="100" rx="4.54545" fill="#148FFF"/>
                <path d="M51.7344 36.4965L65.2378 50L51.7344 63.5034" stroke="white" stroke-width="3.19198" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M65.2384 50L36.5107 50" stroke="white" stroke-width="3.19198" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>                  
              <div>
                <h4 class="font-bold text-lg text-brand leading-tight">{{ post.title }}</h4>
                <p class="text-gray-2 leading-snug line-clamp-3">{{ post.description }}</p>
              </div>
              <a href="{{ post.url | relative_url }}" class="absolute inset-0" title="{{ post.title }}"></a>
            </div>
          {% endfor %}
        </div>
  
        <h3 class="text-blue uppercase font-bold text-3xl mb-16 mt-24">Press Kit</h3>
        <div class="space-y-7">
          {% for item in page.links %}
            <a class="text-lg font-bold text-brand space-x-1 flex items-center justify-center border border-brand rounded-full py-2.5 px-2 tracking-tight" href="{{ item.url | relative_url }}" {% if item.url contains 'http' %}target="_blank" rel="noopener" {% endif %}>
              <span>{{ item.text }}</span>
              <svg class="flex-none" width="19" height="19" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M9.9043 3.31177L16.2499 9.65742L9.9043 16.0031" stroke="#148FFF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M16.2499 9.65747L2.75 9.65747" stroke="#148FFF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>            
            </a>
          {% endfor %}
        </div>  
      </div>
    </div>
  </div>
</div>