---
layout: default
---

<div class="mx-auto max-w-7xl px-6 lg:px-8 py-11 lg:pt-14 lg:pb-32">
  <div class="mx-auto max-w-[44rem] text-center">
    <h1 class="text-5xl lg:text-6xl text-blue font-bold leading-[1.15]">{{ page.title }}</h1>
    <time datetime="{{ page.date | date_to_xmlschema }}" class="text-gray-2 mt-2">
      {% assign date_format = site.date_format | default: "%B %Y" %}
      {{ page.date | date: date_format }}
    </time>

    <div class="mt-14 prose max-w-none prose-slate prose-headings:font-bold prose-a:text-brand hover:prose-a:text-brand">
      {{ page.intro }}
    </div>


    <h2 class="text-blue font-normal mt-8 lg:mt-16">Made possible by</h2>
    <div class="gap-7 grid lg:grid-cols-2 mt-12">
      {% for item in page.grants %}
        <img class="w-full" src="{{ item.image | absolute_url }}" loading="lazy" alt="{{ item.name }}">
      {% endfor %}
    </div>
    <div class="mt-14 lg:mt-16 prose max-w-none prose-slate prose-headings:font-bold prose-a:text-brand hover:prose-a:text-brand">
      {{ content }}
    </div>
  </div>

  <div class="mx-auto max-w-5xl mt-24 lg:mt-28">
    <h3 class="text-blue uppercase font-bold text-3xl text-center">Project team</h3>
    <h4 class="font-normal text-blue mt-12">Project lead</h4>
    <div class="gap-5 grid lg:grid-cols-3 mt-7">
      {% for person in page.authors %}
        {% for item in site.data.team %}
          {% if item.username == person %}
            <div class="flex space-x-5 items-center">
              <img class="rounded w-24 h-auto" width="96" height="96" src="{{ item.image | absolute_url }}" loading="lazy" alt="Lorem">
              <div>
                {% if item.url and item.url != empty %} 
                <a href="{{ item.url }}" class="group" target="_blank" rel="noopener noreferrer">
                {% endif %}
                <h4 class="font-bold text-lg text-brand group-hover:underline">{{ item.name }}</h4>
                {% if item.url and item.url != empty %}</a>{% endif %}
                <p class="text-gray-2">{{ item.title }}</p>
              </div>
            </div>
          {% endif %}
        {% endfor %}
      {% endfor %}
    </div>    
    <hr class="my-12 border-gray-3">
    <h4 class="font-normal text-blue mt-12">Researchers</h4>
    <div class="gap-5 grid lg:grid-cols-3 mt-7">
      {% for person in page.coauthors %}
        {% for item in site.data.team %}
          {% if item.username == person %}
            <div class="flex space-x-5 items-center">
              <img class="rounded w-24 h-auto" width="96" height="96" src="{{ item.image | absolute_url }}" loading="lazy" alt="Lorem">
              <div>
                {% if item.url and item.url != empty %} 
                <a href="{{ item.url }}" class="group" target="_blank" rel="noopener noreferrer">
                {% endif %}
                <h4 class="font-bold text-lg text-brand group-hover:underline">{{ item.name }}</h4>
                {% if item.url and item.url != empty %}</a>{% endif %}
                <p class="text-gray-2">{{ item.title }}</p>
              </div>
            </div>
          {% endif %}
        {% endfor %}
      {% endfor %}
    </div>    
    <hr class="my-12 border-gray-3">
    <h4 class="font-normal text-blue mt-12">Team Members</h4>
    <div class="gap-5 grid lg:grid-cols-3 mt-7">
      {% for person in page.team %}
        {% for item in site.data.team %}
          {% if item.username == person %}
            <div class="flex space-x-5 items-center">
              <img class="rounded w-24 h-auto" width="96" height="96" src="{{ item.image | absolute_url }}" loading="lazy" alt="Lorem">
              <div>
                {% if item.url and item.url != empty %} 
                <a href="{{ item.url }}" class="group" target="_blank" rel="noopener noreferrer">
                {% endif %}
                <h4 class="font-bold text-lg text-brand group-hover:underline">{{ item.name }}</h4>
                {% if item.url and item.url != empty %}</a>{% endif %}
                <p class="text-gray-2">{{ item.title }}</p>
              </div>
            </div>
          {% endif %}
        {% endfor %}
      {% endfor %}
    </div>    
  </div>
</div>
